body {
    font-family: Helvetica;
}

header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1xfexkv*_ga*MTE1NzA1MDUwNy4xNjQ4NTAyODAx*_ga_3LRZM6TM9L*MTY1NzU2MTAyMS4xMDkuMS4xNjU3NTYxMjk0LjU3");
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.category h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-weight: bold;
    color: blue;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}